<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost-filesystem-symena" version="1.59.0.1" targetFramework="native" />
  <package id="boost-headers-symena" version="1.59.0.1" targetFramework="native" />
  <package id="boost-system-symena" version="1.59.0.1" targetFramework="native" />
</packages>